<div class="sidebar"></div>

<div class="content-panel clearfix">

  <h2><%= restaurant.escape("name") %></h2>
  <div class="map-container map-square"></div>

  <img src="<%= restaurant.escape('image_url')%>" class="photo">


  <% if (restaurant.escape("notes")) { %>
    <section class="description">
      <p>
        <%= restaurant.escape("notes") %>
      </p>
    </section>
  <% } %>

  <p>Yelp rating: <img src="<%= restaurant.escape('rating_img_url')%>" class="rating"></p>

  In your lists: foo
  <br>

  <div class="badge">
    <a href="#" class="favorite">♥</a> I love this place!
  </div>

  <div class="badge">
    <a href="#" class="visited">✓</a> I've eaten here!
  </div>

</div>
