<a href="<%= 'http://yelp.com/biz/' + restaurant.escape('yelp_id') %>">
  <img src='<%= restaurant.escape("image_url") %>' class="thumb">
  <img src='<%= restaurant.escape("rating_img_url") %>' class="rating">
  <%= restaurant.escape("name") %>
</a>
