<a href="<%= '/#restaurants/' + restaurant.id %>" class="clearfix">

  <img src='images/clear.png'
       style="background-image: url(<%= restaurant.escape('image_url') %>)"
       class="thumb">

  <img src='<%= restaurant.escape("rating_img_url") %>'
       class="rating">

  <%= restaurant.escape("name") %>
</a>
