<div class="sign-in">
  <div class="center">
    <h1>Create a <em class="logo">FoodExplorer</em> account</h1>
    <%= render 'shared/login_form',
               user: @user,
               submit_caption: 'Sign up',
               action: users_url %>
  </div>
</div>
