<div id='root'>
  <nav>

    <%= button_to 'Sign Out', session_url, method: :delete %>

  </nav>

  <section id='content'></section>
</div>

<script>
  $(function(){
    FoodEx.initialize();
  });
</script>
