.content-panel {
  padding-top: $spc;
  padding-left: $spc;
  float: left;
  width: calc(100% - 200px);
  padding-right: $spc;
  height: 100%;
}

.content-container {
  height: 100%;
  p {
    margin-bottom: $spc;
  }
  h2,
  h3 {
    margin-bottom: $spc;
    font-weight: 800;
    color: $green;
  }
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 125%;
  }
}
