@import url("http://fonts.googleapis.com/css?family=Courgette");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,900,900italic,700italic,700");
@mixin spacing($size) {
  margin: $size 0 $size $size;
  padding-top: $size;
}
$green: #588cae;
$darkgreen: $green * 0.8;
$yellow: #f2e39f;
$orange: #f2ae72;
$red: #d96459;
$darkred: #8c4646;
$spc: 1.25em;
$seafoam: hsl(220, 40, 96);
$selected: hsl(220, 40, 86);
$black: #555;
* {
  box-sizing: border-box;
}
html,
body,
#root,
#content {
  height: 100%;
}
body {
  font-family: 'Gotham HTF';
  font-size: 12pt;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 150%;
  font-weight: lighter;
}
p {
  color: $black;
}
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-radius: 2px;
}
.logo,
.logo * {
  font-family: 'Courgette', cursive;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
