$navheight: 50px;

nav {
  display: block;
  background-color: $green;
  color: white;
  padding: 0;
  padding-right: 1em;
  height: $navheight;

  ul {
    position: relative;
    float: left;
  }

  li {
    float: left;
  }

  a {
    padding: 0 1em;
    color: white;
    display: block;
    border-radius: 4px;
    height: $navheight;
    line-height: $navheight;
    position: relative;

    &:hover {
      background-color: $darkgreen;
    }
  }

  .logo {
    position: relative;
    font-size: 110%;
  }
}

button.logout {
  font-size: 90%;
  font-weight: bold;

  position: relative;
  height: $navheight - 8px;
  top: 4px;

  border-right: thin solid ($darkgreen * 0.8);
  border-bottom: thin solid ($darkgreen * 0.8);
  border-top: thin solid ($darkgreen * 1.5);
  border-left: thin solid ($darkgreen * 1.5);

  border-radius: 4px;
  background-color: $darkgreen;
  color: white;
  float: right;

  &:active {
    background-color: #8BBDD9 * 0.9;
  }
}
