.photo {
  height: 250px;
  width: 300px;
  margin-bottom: $spc;
  float: left;
  border-radius: 2px 8px;
  margin-right: $spc;
}
.stats {
  margin-bottom: 2 * $spc;
  i {
    display: inline-block;
    width: 1.5em;
    text-align: center;
    padding: 5px;
    text-align: center;
    color: lighten(black, 90);
    background-color: lighten(black, 40);
    border-radius: 50%;
    margin-right: 0.25em;
    font-size: 125%;
  }
}
.badge {
  margin-bottom: $spc;
  p {
    display: inline;
  }
  a {
    margin: auto;
    display: inline-block;
    text-align: center;
    background-color: #eee;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    box-shadow: 0 1px 0 #ccc;
    font-size: 32px;
    transition: none;
    &.visited {
      color: $green;
    }
    &.favorite {
      color: $red;
    }
    &.nope {
      color: #ccc;
    }
    &:hover {
      background-color: #ddd;
    }
    &:active {
      background-color: #dfdfdf;
      box-shadow: 0 -1px 0 #ccc;
    }
  }
}

textarea {
  font: inherit;
  border: none;
  width: 100%;
  padding: 1em;
}

.explain {
  font-size: 85%;
  font-style: italic;
  width: 100%;
  text-align: right;
  margin-right: 1em;
}
