$marksize: 1.75em;
.sidebar {
  height: 100%;
  background-color: $seafoam;
  color: $green;
  float: left;
  width: 200px;
  .active {
    background-color: $selected;
  }
  .success a {
    background-color: lighten(green, 30) !important;
  }
  .error a {
    background-color: lighten(red, 30) !important;
  }
  .drop-hover a {
    background-color: $yellow;
  }
  a {
    display: block;
    float: left;
    width: 100%;
    padding: 0.75em;
    vertical-align: baseline;
    color: $green;
    line-height: 1.5em;
    border-bottom: thin solid ($seafoam * 0.9);
    &:hover {
      background-color: $yellow;
    }
  }
  mark {
    display: inline-block;
    width: $marksize;
    height: $marksize;
    line-height: $marksize;
    text-align: center;
    padding: auto;
    background-color: inherit;
    border-right: thin solid $green;
    border-bottom: thin solid $green;
    color: $green;
    margin-right: 0.5em;
    border-radius: 4px;
    font-weight: bold;
    font-size: 75%;
    opacity: 0.4;
    position: relative;
    top: -1px;
  }
  .favorite::after {
    content: "♥";
    color: $red;
    font-size: 125%;
    position: relative;
    top: 1px;
  }
}
