.thumb-box {
  li {
    display: block;
    float: left;
    height: 190px;
    width: 140px;
    margin: 0 2em 2em 0;
    text-align: center;
    position: relative;
    transition: background-color 0.5s, font-weight 0.5s;
    &.highlighted {
      background-color: #eaeffa;
      font-weight: bold;
    }
  }
  .visited::before,
  .favorite::after {
    z-index: 1;
    background-color: #eee;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    box-shadow: 1px 1px 0 #ccc;
    position: absolute;
    right: 0;
    font-size: 28px;
  }
  .visited::before {
    content: "✓";
    color: $green;
    top: 30px;
  }
  .favorite::after {
    content: "♥";
    color: $red;
    top: 0;
  }
  a {
    color: #333;
    display: block;
    position: relative;
  }
  img.thumb {
    width: 120px;
    height: 120px;
    margin-bottom: 0.5em;
    border: thin solid #bbc;
    border-radius: 3px 12px;
    margin-left: auto;
    margin-right: auto;
  }
  img.rating {
    clear: both;
    display: block;
    margin: 0 auto 0.25em;
  }
  .plus * {
    opacity: 0.4;
  }
  .plus::before {
    display: none;
  }
  .plus::after {
    content: '+';
    font-size: 250%;
    text-shadow: 1px 1px 0 darken($green, 50);
    background-color: lighten($green, 10);
    color: lighten($green, 80);
    position: absolute;
    top: 40px;
    left: 48px;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    box-shadow: none;
  }
}
