.thumb-box {
  padding-top: $spc;
  padding-left: $spc;
  float: left;
  width: calc(100% - 300px);
  li {
    display: block;
    float: left;
    height: 190px;
    width: 140px;
    margin: 0 2em 2em 0;
    text-align: center;
    position: relative;
  }
  .visited::before,
  .favorite::after {
    z-index: 1;
    background-color: #eee;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    box-shadow: 1px 1px 0 #ccc;
    position: absolute;
    right: 0;
    font-size: 26px;
  }
  .visited::before {
    content: "✓";
    color: $green;
    top: 30px;
  }
  .favorite::after {
    content: "♥";
    color: $red;
    top: 0;
  }
  a {
    color: #333;
    display: block;
    position: relative;
  }
  img.thumb {
    width: 120px;
    height: 120px;
    display: block;
    margin-bottom: 0.5em;
    border: thin solid #bbc;
    border-radius: 3px 12px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
  }
  img.rating {
    clear: both;
    display: block;
    margin: 0 auto 0.25em;
    width: 88px;
    height: 15px;
  }
}
