<div class="center">
  Copyright ∞
  <a href="http://github.com/johncip">@johncip</a>
  and the
  <span class="logo">foodexplorer</span>
  board of trustees.
  <br>
  Except for the Yelp content. (There's quite a lot of it.)
  <br><br>
  Something not working? Have a good idea? <a href="mailto:johnmikecip@gmail.com">Email me!</a>
</div>
