<ul class="blocklist">
  <li class='logo'><a href="/">FoodExplorer</a></li>
  <li><a href="/#lists">Lists</a></li>
  <!-- <li><a href="/#search">Search</a></li> -->
</ul>

<button class="logout">Sign Out</button>
