<div class="sidebar"></div>

<div class="content-panel clearfix">
  <div class="content-container">
    <h2>Welcome!</h2>

    <p class="welcome">
      <span class="logo">foodexplorer</span>
      lets you
      <em>be your own food guide</em>
      by creating lists of restaurants to edit, annotate, and share with your friends. Lists are created using a nifty drag-and-drop interface. We're still in alpha, so you must be very special!
    </p>

    <p class="welcome">
      Here are some things you can do with
      <span class="logo">foodexplorer</span>
      <em>right now</em>:
    </p>

    <ul class="features">
      <li>View all of the restaurants on each list, with a handy, auto-zoomed Google map!</li>
      <li>View a single restaurant, with Yelp data and map location</li>
      <li>Hover over map markers to highlight a restaurant icon</li>
      <li>Hover over restaurant icon to make its marker bounce</li>
      <li>View a single restaurant, with Yelp data, map location, and which of your lists it's in</li>
      <li>Drag restaurants to copy from one list to another</li>
      <li>Mark a restaurant as one of your favorites</li>
      <li>Mark a restaurant as visisted</li>
      <li>Edit your notes for a restaurant</li>
      <li>View a map containing a single restaurant</li>
    </ul>

    <p class="welcome">
      Be sure to try each feature out! We have more on the way, like Yelp search for new restaurants, removing restaurants from lists, sharing lists with friends, and more, so check back soon!
    </p>

    <div class="thumb-box clearfix"></div>
  </div>
</div>
