<div class="sidebar"></div>

<div class="content-panel clearfix">

  <h2>Welcome!</h2>

  <p class="welcome">
    <span class="logo">foodexplorer</span>
    lets you
    <em>be your own food guide</em>
    by creating lists of restaurants to edit, annotate, and share. Lists are made with nifty drag-and-drop interface. We're still in alpha, so you must be very special! Here's how to get started:
  </p>

  <h3>Lists</h3>
  <ul class="features">
    <li>
      <i class="fa fa-fw fa-picture-o"></i>
      Click
      <a class="list-button" href="/#lists">Lists</a>
      to view your lists of restaurants</li>
    <li>
      <i class="fa fa-fw fa-arrows"></i>
      Reorder the list icons by dragging</li>
    <li>
      <i class="fa fa-fw fa-mouse-pointer"></i>
      Click the list icon to show restaurants for that list</li>
  </ul>

  <h3>Restaurants</h3>
  <ul class="features">
    <li>
      <i class="fa fa-fw fa-mouse-pointer"></i>
      Choose a restaurant to view info about it, including your notes</li>
    <li>
      <i class="fa fa-fw fa-arrows"></i>
      Reorder restaurants by dragging</li>
    <li>
      <i class="fa fa-fw fa-plus-circle"></i>
      Copy a restaurant to another list by dragging into the list sidebar</li>
    <li>
      <i class="fa fa-fw fa-heart"></i>
      Click the badges to mark a restaurant as either favorited or visited</li>
    <li>
      <i class="fa fa-fw fa-map-marker"></i>
      Maps are auto-zoomed!</li>
  </ul>

  <p class="welcome">
    <strong>
      To start, drag this restaurant into your "Good Coffee" list:</strong>
  </p>

  <div class="thumb-box clearfix"></div>

  <p class="welcome">
    Be sure to try each feature out! We have more on the way, like Yelp search for new restaurants, removing restaurants from lists, sharing lists with friends, and more, so check back soon!
  </p>
</div>
