<div class="sidebar"></div>

<div class="content-panel clearfix">
  <p class="tip">
    <i class="fa fa-lightbulb-o"></i>
    Tip: Want to reorder your lists? Drag and drop!
  </p>

  <h2>Your Lists</h2>

  <div class="thumb-box clearfix"></div>
</div>
