<div class="sidebar"></div>

<div class="content-panel clearfix">
  <h2><%= list.escape("title") %></h2>
  <div class="map-container"></div>

  <% if (list.escape("description")) { %>
    <section class="description">
      <p class="notes">
        <%= list.escape("description") %>
      </p>
    </section>
  <% } %>

  <div class="thumb-box clearfix"></div>

  <section class="comments">
    <h3>Comments</h3>
    <p>Sham comment.</p>
  </section>
</div>
