<a href="<%= '/#/lists/' + list.id %>" class="clearfix">

  <img src='images/clear.png'
       style="background-image: url(<%= list.escape('image_url') %>)"
       class="thumb">

  <%= list.escape("title") %>
</a>
