<a href="<%= '/#/lists/' + list.id %>"
  <% if (list.attributes.favorite) { %>
    class="favorite"
  <% } %>
>
  <img src='<%= list.escape("image_url") %>' class="thumb">
  <%= list.escape("title") %>
</a>
